@use "../../../styles/abstracts/index" as *;

.results{
    background-color: $background-dark;
    flex: 1;
    padding: 2rem;
    *{
        color: white;
    }
    @media all and (min-width: 768px) {
        border-bottom-left-radius: 4rem;
    }
    position: relative;
}

.content{
    padding: 2rem 0;
    position: relative;
    z-index: 1;
    opacity: 0;

    &--placeholder{
        padding: 2rem 0;
    }

    animation: appear 1s ease-in-out forwards;
    animation-delay: .5s;
}

.house{
    position: absolute;
    z-index: 0;
    // opacity: 0;

    @media all and (max-width: 768px){
      width: 80px;
      right: 10px;
    }

    &--bottom-right{
        bottom: 0;
        right: 0;
        width: 250px;
    }

    &--center{
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
        max-width: 400px;
    }

    &--animate{
        opacity: 0;
        animation: appear-disappear 1.5s ease-in-out forwards;
    }
  }

  @keyframes appear-disappear{
    0%{
      opacity: 1;
    //   transform: translateY(0);
    }
    33%{
      opacity: 0;
    //   transform: translateY(100px);
    }
    66%{
        opacity: 0;
        // transform: translateY(100px);
    }
    100%{
        opacity: 1;
        // transform: translateY(0);
    }
  }

  @keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }