/* Primary Colors */
$color-lime: hsl(61, 70%, 52%);
$color-lime-dark: hsl(61, 70%, 49%);
$color-red: hsl(4, 69%, 50%);

/* Neutral Colors */
$color-white: hsl(0, 0%, 100%);
$color-slate-100: hsl(202, 86%, 94%);
$color-slate-300: rgba(58, 100, 158, 0.3);
$color-slate-500: #3a649e;
$color-slate-700: hsl(200, 24%, 40%);
$color-slate-900: hsl(202, 55%, 16%);

$background-light: $color-slate-100;
$background-dark: #3a649e;