@use "@/styles/abstracts/index" as *;

/* Global Styles */

html {
  box-sizing: border-box;
  font-size: 16px; // Base font size
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family-primary;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: $color-white;
  color: $color-slate-900;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: 1440px) {
    max-width: 1440px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-primary;
  color: $color-slate-900;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  color: $color-slate-700;
}

a {
  text-decoration: none;
  color: $color-lime;

  &:hover, &:focus {
    color: $color-red;
  }
}

/* Ensure responsiveness and WCAG compliance */
@media (max-width: 375px) {
  html {
    font-size: 14px; // Adjust base font size for smaller screens
  }
}

@media (max-width: 320px) {
  html {
    font-size: 12px; // Adjust base font size for smaller screens
  }
}
